.map-container {
  position: relative; /* Create a stacking context */
  z-index: 1;         /* Low z-index */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;
}

/* Map styling */
.jaspr-map {
  position: relative; /* Ensure z-index works */
  z-index: 1;         /* Low z-index */
  height: 100%;
  width: 95%;
  border-radius: 8px;
  background-color: #e6e6e6;
}
  
  
  /* Estilos para los controles personalizados de Leaflet */
  .leaflet-control-custom button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #333; /* Color del texto */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .leaflet-control-custom button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
  }
  
  /* Asegurar que los hexágonos y capas SVG del mapa se visualicen correctamente */
  .hexagon-layer {
    stroke: #000; /* Color del borde de los hexágonos */
    stroke-opacity: 0.5;
    stroke-width: 0.5px;
    fill-opacity: 0.7; /* Transparencia del relleno de los hexágonos */
  }
  
